.title {
    text-align: center;
}

.subtitle {
    width: 450px;
}

.wrapper {
    padding: 50px 0;

    column-gap: 100px;
}

.form-wrapper {
    width: 400px;
}

.wight {
    width: 400px;
    height: 51px;

    margin-bottom: 15px;
}